{% load crispy_forms_tags %}
{% load static %}

<div class="card shadow-lg">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
    <form id="editarAlunoForm" method="POST" action="{% url 'editarAluno' aluno.id %}">
          {% csrf_token %}
          {{ form|crispy }}
    </div>
    <div class="card-footer text-center d-flex justify-content-between">
        <button id="excluirAlunoBtn" form="alunoForm" type="submit" class="btn btn-danger" onclick="excluirAluno(event, '{% url "editarAluno" aluno.id %}')">Deletar</button>
        <button id="salvarAlunoBtn" form="alunoForm" type="submit" class="btn btn-primary" onclick="salvarAluno(event, '{% url "editarAluno" aluno.id %}')">Salvar</button>
    </div>
    </form>
</div>

<style>
    .asteriskField {
        display: none;
    }            
</style>

<script src="{% static 'js/edit/editarAluno.js' %}"></script>
<script src="{% static 'js/validacoes/validacoes.js' %}"></script>
