{% load crispy_forms_tags %}
{% load static %}

<div class="card shadow-lg">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
    <form id="editarEmprestimoForm" method="POST" action="{% url 'editarEmprestimo' emprestimo.id %}">
          {% csrf_token %}
          {{ form|crispy }}
    </div>
    <div class="card-footer text-center d-flex justify-content-between">
        <button id="excluirEmprestimoBtn" form="EmprestimoForm" type="submit" class="btn btn-danger" onclick="excluirEmprestimo(event, '{% url "editarEmprestimo" emprestimo.id %}')">Deletar</button>
        <button id="salvarEmprestimoBtn" form="EmprestimoForm" type="submit" class="btn btn-primary" onclick="salvarEmprestimo(event, '{% url "editarEmprestimo" emprestimo.id %}')">Salvar</button>
    </div>
    </form>
</div>

<style>
    .asteriskField {
        display: none;
    }            
</style>

<script src="{% static 'js/edit/editarEmprestimo.js' %}"></script>
<script src="{% static 'js/validacoes/validacoes.js' %}"></script>
