{% load crispy_forms_tags %}
{% load static %}

<div class="card shadow-lg">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
    <form id="editarAutorForm" method="POST" action="{% url 'editarAutor' autor.id %}">
          {% csrf_token %}
          {{ form|crispy }}
    </div>
    <div class="card-footer text-center d-flex justify-content-between">
        <button id="excluirAutorBtn" form="AutorForm" type="submit" class="btn btn-danger" onclick="excluirAutor(event, '{% url "editarAutor" autor.id %}')">Deletar</button>
        <button id="salvarAutorBtn" form="AutorForm" type="submit" class="btn btn-primary" onclick="salvarAutor(event, '{% url "editarAutor" autor.id %}')">Salvar</button>
    </div>
    </form>
</div>

<style>
    .asteriskField {
        display: none;
    }            
</style>

<script src="{% static 'js/edit/editarAutor.js' %}"></script>
<script src="{% static 'js/validacoes/validacoes.js' %}"></script>
