{% load crispy_forms_tags %}
{% load static %}

<div class="card shadow-lg">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
    <form id="editarEditoraForm" method="POST" action="{% url 'editarEditora' editora.id %}">
          {% csrf_token %}
          {{ form|crispy }}
    </div>
    <div class="card-footer text-center d-flex justify-content-between">
        <button id="excluirEditoraBtn" form="EditoraForm" type="submit" class="btn btn-danger" onclick="excluirEditora(event, '{% url "editarEditora" editora.id %}')">Deletar</button>
        <button id="salvarEditoraBtn" form="EditoraForm" type="submit" class="btn btn-primary" onclick="salvarEditora(event, '{% url "editarEditora" editora.id %}')">Salvar</button>
    </div>
    </form>
</div>

<style>
    .asteriskField {
        display: none;
    }            
</style>

<script src="{% static 'js/edit/editarEditora.js' %}"></script>
<script src="{% static 'js/validacoes/validacoes.js' %}"></script>
