<div class="card text-center shadow-lg">
    <div class="card-header">
        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-livro" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Livros</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-autor" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Autores</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-editora" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Editoras</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-aluno" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Alunos</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-emprestimo" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Empréstimos</button>
            </li>
        </ul>
    </div>
    <div class="card-body d-flex flex-column tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-livro" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            {% include '../tables/tableLivros.html' %}
        </div>
        <div class="tab-pane fade" id="pills-autor" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            {% include '../tables/tableAutor.html' %}
        </div>
        <div class="tab-pane fade" id="pills-editora" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            {% include '../tables/tableEditora.html' %}
        </div>
        <div class="tab-pane fade" id="pills-aluno" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            {% include '../tables/tableAluno.html' %}
        </div>
        <div class="tab-pane fade" id="pills-emprestimo" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            {% include '../tables/tableEmprestimo.html' %}
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>
