<div class="card shadow-lg h-100">
    <div class="card-header text-center">
        <h5 class="card-title">Empréstimos</h5>
    </div>
    <div class="card-body text-center">
        <table class="table table-hover">
            <thead class="">
                <tr>
                    <th scope="col">Aluno</th>
                    <th scope="col">Livro</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                <tr>
                    <td>{{ emprestimo.aluno }}</td>
                    <td>{{ emprestimo.livro }}</td>
                    <td>
                        <button type="button" class="btn btn-sm bg-primary text-light">
                            <i class="bi bi-pencil-square me-1"></i>
                            Editar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        <a href="{% url 'emprestimosPage' %}">Ver mais</a>
    </div>
</div>