<div class="card shadow-lg h-100">
    <div class="card-header text-center">
        <h5 class="card-title">Emprestimos</h5>
    </div>
    <div class="card-body text-center">
        <ul class="list-group list-group-flush">
            {% for emprestimo in emprestimos %}
                <li class="list-group-item">{{ emprestimo.livro }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer text-center">
        <a href="{% url 'emprestimosPage' %}">Ver mais</a>
    </div>
</div>