<nav class="navbar navbar-expand-lg bg-light d-flex border-bottom border-black border-4">
   {% comment %} <img src={logo} alt="logo bibliotech"/> {% endcomment %}
    <a class="navbar-brand ms-4 fw-bold" href="#">BIBLIOTECH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-secondary-emphasis" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Autores</a>
        </li>
      </ul>
    </div>
    <a class="nav-link me-4 fw-bold" href="login/">LOGIN</a>
  </nav>