{% load crispy_forms_tags %}


<div class="modal fade" id="alunocadastro" tabindex="-1" aria-labelledby="alunocadastro" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="alunocadastroLabel">Cadastrar Aluno</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body text-start">
        <form method="POST" action="">
            {% csrf_token %}
            {% crispy form %}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
        </form>
    </div>
  </div>
</div>

<style>
    .asteriskField {
        display: none;
    }            
</style>