{% load static %}

<nav id="pagination-container" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Anterior</span></li>
      {% endif %}
  
      {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link active" href="?page={{ i }}">{{ i }}</a></li>
      {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Próxima</span></li>
      {% endif %}
  </ul>
</nav>

<script src="{% static 'js/pagination.js' %}"></script>