
    <div class="row flex-nowrap">
        <div class="px-sm-2 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-4 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline fw-bolder text-primary">BIBLIOTECH</span>
                </a>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'homePage' %}" class="nav-link align-items-center text-primary d-flex">
                            <i class="fs-4 bi-house"></i><span class="ms-2 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'livrosPage' %}" class="nav-link align-items-center text-secondary d-flex">
                            <i class="fs-4 bi-book"></i><span class="ms-2 d-none d-sm-inline">Livros</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'autoresPage' %}" class="nav-link align-items-center text-secondary d-flex">
                            <i class="fs-4 bi-person-badge"></i><span class="ms-2 d-none d-sm-inline">Autores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'editorasPage' %}" class="nav-link align-items-center text-secondary d-flex">
                            <i class="fs-4 bi-person-badge"></i><span class="ms-2 d-none d-sm-inline">Editoras</span>
                        </a>
                    </li>
                </ul>
                
                
                
                <div class="dropdown ms-3 px-4 py-3 fixed-bottom">
                    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col p-0">
            
            {% block inner_content %}
            {% endblock inner_content %}
            
        </div>
    </div>

