<table class="table table-hover table-bordeless">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">RA</th>
            <th scope="col">Empréstimo</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.ra }}</td>
            
            {% for emprestimo in emprestimos %}
            <td>{{ emprestimo.livro }}</td>
            {% endfor %}
            <td>
                <button type="button" class="btn btn-sm bg-primary text-light">
                    <i class="bi bi-pencil-square me-1"></i>
                    Editar
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>