<nav class="navbar bg-light px-0">
  <div class="container-fluid d-flex">
    <span class="fs-5 d-none d-sm-inline fw-bolder">Home</span>
    <div class="d-flex justify-content-end">
      <form class="d-flex me-5">
          <div class="input-group">
              <button id="search-button" type="button" class="btn btn-primary">
                  <i class="bi bi-search"></i>
              </button>
              <input id="search-input" type="search" class="form-control" placeholder="Livros, Autores..."/>
          </div>
      </form>

      <div class="dropdown p-2">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
              <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                  <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>

