<nav class="navbar bg-light px-0">
  <div class="container-fluid d-flex">
    <span class="fs-5 d-none d-sm-inline fw-bolder">Home</span>
    <div class="d-flex justify-content-end">
      <form class="d-flex me-5">
          <div class="input-group">
              <button id="search-button" type="button" class="btn btn-primary">
                  <i class="bi bi-search"></i>
              </button>
              <input id="search-input" type="search" class="form-control" placeholder="Livros, Autores..."/>
          </div>
      </form>

      
    </div>
  </div>
</nav>

