<!DOCTYPE html>
<html>
<head>
    <title>Bibliotech</title>
    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyRv5gcX5DfP4FCt4g3g/YsIlsKktBl4dnS/0Rn5lHMl9AIyV+9g5FFM9NiFl+" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    
    {% block content %}
    
    {% endblock content %}

    <style>
        html {
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-MsU6m+Uqqp6e/3SO+O4S1P9K/8XU1lMK7f5+EU7lP4lBDz+3trfPqN2jOH4Oa2Z6H" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-92lHj03E0SXl5p9lTl6UVcq0H1wdXlF3G1Fw3S8QGjY/kF5R7z9sAo0MMsBp13Fz" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha384-rUz6e1D0EvMzYl8r6jqy8t2qXlN7L6VW6O5pKcIF3V1uZGtC13F7Ksj2M9d5JSIs" crossorigin="anonymous"></script>
</body>
</html>
