{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto bg-light">
                {% include '../Components/sideNav.html' %}
            </div>

            <div class="col p-4">
                {% block inner_content %}
                {% include '../Components/header.html' with titulo="Autores" %}
                <div class="card shadow-lg h-75 mt-5">
                    <div class="card-header text-end">
                        <button type="button" class="btn btn-sm bg-primary text-light">
                            <i class="bi bi-person-plus-fill"></i>
                        </button>
                    </div>
                    <div class="card-body text-center">
                        {% include '../Components/tableAutor.html' %}
                    </div>
                    </div>
                {% endblock inner_content %}
            </div>
        </div>
    </div>
{% endblock %}
