{% extends "base.html" %}
{% load static %}

<html>
    <body>    
    {% block content %}
        
    {% include '../Components/indexNavbar.html' %}
    
    <div class="container-fluid p-0">
        <div class="position-relative">
            <img src="{% static 'img/book3.png' %}" class="img-fluid w-100" alt="Index Image">
            {% comment %} <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
                <h1 class="text-start ms-5 fw-bold display-4 text-primary">Onde cada página</h1>
                <h1 class="text-end me-5 fw-bold display-4 text-primary">é uma <span class="text-uppercase">aventura!<span/></h1>
            </div> {% endcomment %}
        </div>
    </div>

    {% endblock %}
</body>
</html>
