{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto bg-light">
                {% include '../Components/sideNav.html' %}
            </div>

            <div class="col p-4">
                {% block inner_content %}
                {% include '../Components/header.html' with titulo="Empréstimos" %}
                {% comment %} {% for emprestimo in emprestimos %} {% endcomment %}
                    <div class="card shadow-lg h-75 mt-5">
                        <div class="card-header text-center">
                            {% comment %} <h5 class="card-title">{{ card_title }}</h5> {% endcomment %}
                        </div>
                        <div class="card-body text-center">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ emprestimo.livro }}</li>
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="">Go somewhere</a>
                        </div>
                    </div>
                    {% comment %} {% endfor %} {% endcomment %}
                {% endblock inner_content %}
            </div>
        </div>
    </div>
{% endblock %}
