{% extends "base.html" %}
{% load static %}

<html>
    <body>    
    {% block content %}

    
    <div class="container-fluid p-0">

        {% include '../Components/rightDesign.html' %}

        <div class="m-5">
            {% include '../Components/returnButton.html' %}
        </div>

        <form class="m-5 w-50 vh-50 text-center" 
            style="z-index: 2; position: absolute; top: 40%; left: 25%; transform: translate(-50%, -50%);"
        >
            <h1 class="text-primary mb-5">Bem vindo de volta!</h1>
            <div class="mb-4 input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
              <input type="text" class="form-control" style="background-color: #f3f3f3;" placeholder="Usuário" id="inputUser">
            </div>
            <div class="mb-4 input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
              <input type="password" class="form-control" style="background-color: #f3f3f3;" placeholder="Senha" id="exampleInputPassword1">
            </div>
            <div class="mb-4 form-check d-flex align-items-center justify-content-between">
                <label class="form-check-label" for="exampleCheck1">Lembrar senha?
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                </label>
              <a id="senhaHelp" class="form-text" href="/senha">Esqueceu sua senha?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-75 rounded-pill mt-3 shadow-lg">Login</button>
            <div class="text-center mt-2">
              <a id="senhaHelp" class="form-text mx-auto" href="/cadastro">Não tem uma conta? Crie uma</a>
            </div>
          </form>

        </div>

        <style>
            body {
                overflow: hidden;
            }            
        </style>
        
    {% endblock %}
</body>
</html>
