<table class="table table-hover table-bordeless">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Area</th>
            <th scope="col">Semestres</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.setor }}</td>
            

            <td> {{ curso.semestres }}</td>

            <td>
                <button type="button" class="btn btn-sm bg-primary text-light">
                    <i class="bi bi-pencil-square me-1"></i>
                    Editar
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>