<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Aluno</th>
            <th scope="col">Livro</th>
            <th scope="col">Devolução</th>
        </tr>
    </thead>
    <tbody>
        {% for emprestimo in emprestimos %}
        <tr>
            <td>{{ emprestimo.aluno }}</td>
            <td>{{ emprestimo.livro }}</td>
            <td>{{ emprestimo.data_devolucao }}</td>
            <td>
                <button type="button" class="btn btn-sm bg-primary text-light">
                    <i class="bi bi-pencil-square me-1"></i>
                    Editar
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>