<table class="table table-hover table-bordeless">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">RA</th>
            <th scope="col">Curso</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.ra }}</td>
            

            <td> {{ aluno.curso.nome }}
            {% comment %} {% if aluno.emprestimos.exists %}
                {% for emprestimo in aluno.emprestimos.all %}
                    {{ emprestimo.livro }}
                {% endfor %}
                {% else %}
                    Nenhum empréstimo
                {% endif %} {% endcomment %}
            </td>

            <td>
                <button type="button" class="btn btn-sm bg-primary text-light">
                    <i class="bi bi-pencil-square me-1"></i>
                    Editar
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>