{% load crispy_forms_tags %}
{% load static %}

<div class="modal fade" id="formLivro" tabindex="-1" aria-labelledby="formLivro" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formLivroLabel">Cadastrar Livro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body text-start">
        <form id="livroForm">
          {% csrf_token %}
          {{ form|crispy }}
        </div>
        <div class="modal-footer">
            <button form="livroForm" type="submit" class="btn btn-primary">Salvar</button>
        </div>
        </form>
    </div>
  </div>
</div>

<style>
    .asteriskField {
        display: none;
    }            
</style>

<script src="{% static 'js/livroPage.js' %}"></script>