{% comment %} {% for usuario in usuarios %} {% endcomment %}
<div class="dropdown mb-4">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fs-4 bi-person-circle"></i><span class="ms-2 d-none d-sm-inline">Minha Conta</span>
    </a>
    
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="/">Sair</a></li>
    </ul>
</div>
{% comment %} {% endfor %} {% endcomment %}