django
djangorestframework
python-dotenv
markdown
django-filter
# psycopg
# psycopg2
django-bootstrap-v5
django-crispy-forms
crispy-bootstrap5
djangorestframework-simplejwt
django-cors-headers
requests